version: '3'

services:
    selenium-chrome:
        image: selenium/standalone-chrome
        ports: 
            - 4444:4444

    r-tidyverse: 
        image: rocker/tidyverse 
        ports:
            - 8787:8787
        environment:
            - PASSWORD=12345678
        volumes:
            - ./:/home/rstudio

